@import 'variable';
/* About  
===========================================*/

/* Fun Facts */

.ts-fun-facts {
   padding: 0px;
   overflow: hidden;
   .box-skew-sm-left{
      .ts-main-fact{
         padding-right: 50px;
      }
   }
   .box-skew-area-left {
      height: 430px;
      width: 112%;
      margin-left: -65px;
   } //Box skew area left
   .box-skew-area-right {
      height: 500px;
      width: 130%;
      .box-skew-sm-right {
         &:before {
            right: 99%;
         }
      }
   } //Box skew area right
   .fun-fact-info {
      color: #fff;
      padding-right: 40px;
   } //Fun Fact info
   .ts-facts {
      margin-left: -60px;
      h3 {
         font-size: 32px;
         padding: 10px 0;
         color: #fff;
         font-weight: 500;
      }
      p {
         color: #fff;
      }
      .ts-facts-num {
         p {
            color: #fff;
         }
      } //Facts Number
      i {
         font-size: 40px;
         color: #fff;
      }
   } //Facts
} //Fun Facts
/* Testimonial */

.testimonial-slide {
   .testimonial-item {
      position: relative;


      p {
         color: #fff;
         margin-bottom: 35px;
      }
      span {
         &.icon {
            font-size: 40px;
            transform: rotate(180deg);
            position: absolute;
            top: -70px;
            color: #fff;
         }
      }
   } //Testimonial Item
   @media (min-width: 1400px) {
      .testimonial-item{
         margin-left: 50px;
      }
   }
   .quote-item-info {
      h3,
      span {
         color: #fff;
      }
   } //Quote Item info
   .quote-item-footer {
      h3 {
         color: #fff;
      }
      img {
         width: 60px;
         height: 60px;
         border-radius: 50%;
         float: left;
         margin-right: 25px;
      }
   } //Quote Item Footer
   .quote-author {
      color: #fff;
   } //Quote Author
   .quote-text {
      color: #fff;
   } //Quote Text
} //Testimonial Slide
.overflow-hidden {
   .box-skew-right {
      width: 190%;
      padding-left: 100px;
      padding-right: 0;
      height: 315px;
   }
   .box-skew-left {
      height: 375px;
      img {
         z-index: 1;
      }
      &:after {
         z-index: 0;
      }
   }
}

.ts-facts-newsletter {
   .box-skew-area-left{
      background: #d20022;
   }
   .box-skew-area-right {
      height: 305px;
   }
   .box-skew-sm-right {
      padding-right: 150px;
      .column-title,
      .column-title-sm {
         z-index: 1;
      }
   }
}


.ts-pertner{
    &.border-bottom {
        padding:  35px;
        box-shadow: 0px 2px 5px 0px rgba( 239,239,239,.7 );
        .owl-nav {
            display:  none;
         }

     }
}

.ts-feature-standard{
   padding-bottom: 30px;
   .ts-feature-wrapper{
      margin-bottom: 50px;
   }
   .feature-single {
    .feature-content{
        margin-top: 20px;
        margin-left: 0px;
        h3 {
            a{
                margin-bottom: 20px;
                color: #000;
             }
        }
     }
     .feature-icon{
        float: none;
     }
     &:hover {
        .feature-content {
            h3 {
                a{
                    color: #ee3131;
                 }
            }
        }
     }
   } 
}

// Home 2

.ts-feature{
   .widget-contact {
     margin-top: -100px;
     .contactMe > section {
      border-radius: 0;
      padding: 40px 22px 40px 34px;
      .btn{
         background: #ee3131;
         text-align: center;
         display: block;
         &:after{
            background: transparent;
         }
      }
  }
  }
   .contact-form-title {
      margin-left: 15px;
      height: 55px;
      margin-right: 15px;
      background: #ee3131;
      text-align:  center;
      h2{
          &.column-title {
            font-size:  24px;
            color:  #fff;
            padding: 10px 0;
        }
      }
  }
   button{
      &.btn{
         &.btn-primary {
            width: 95%;
         }
      }
   }
   .contactMe {
      .field {
         margin-bottom: 0px;
     
      }
      .form-row{
        margin-bottom: 20px;
     }
   }

}
.ts-feature.ts-feature-2{
   .ts-feature-wrapper{
      margin-bottom: 50px;
   }
}
.box-content-wrapper {
   i {
      font-size: 32px;
      float:  left;
      width:  50px;
      line-height: 50px;
      border-radius: 3px;
      padding-left: 9px;
      background: #ee3131;
      margin-right: 20px;
   }
}

.box-skew-right {
   .column-title{
      margin-bottom: 35px;
   }
}

/* Header 2
==================================*/

.ts-top-bar-2{
   padding: 8px 0;
}



.ts-top-bar-2{
   &.classic {
      background-color: #06163a;
      .top-bar-social-icon {
         li {
            a {
               padding: 0px 10px;
               &:last-of-type{
                  padding-right: 0;
               }
             }
         }
      }
   }
}

.ts-header-classic{
   .ts-logo-area {
      padding: 25px 0;
      background-color: #091b46;
      padding-bottom: 58px;
      .info-wrapper {
         .info-subtitle {
            color: #fff;
          }
      }
       .info-wrapper {
         .info-title {
            color: #fff;
          }
       }
  }
  .header-angle{
   position: absolute;
   width: 100%;
   margin-top: -30px;
   &:after{
      background: transparent;
   }
   .ts-navbar{
      border-right: 1px solid #f15050;
   }
     .navbar-nav{
        padding-left: 28px;
     }
   &:before {
      background: transparent;
    }
    &:after {
      width: 87%;
    }
    .navbar-light{
       background: #ee3131;
       margin-left: 55px;
       padding-right: 35px;
       &:before{
         position: absolute;
         top: 0;
         left: -56px;
         right: auto;
         content: "";
         border-right: 56px solid #ee3131;
         border-top: 60px solid transparent;
       }
    }
  }
  
  .cart-link {
   form{
      padding: 0px;
   }
   }
}

/* Header 3
==================================*/

.ts-top-bar-2 {
   &.standard{
      background-color: #ee3131;
   }
}

.ts-header-standard{
   .ts-logo-area{
      .ts-navbar{
         margin-right: 0;
      }
      padding: 15px 0;
      .navbar-light .navbar-nav .active > .nav-link, 
      .navbar-light .navbar-nav .nav-link.active, 
      .navbar-light .navbar-nav .nav-link.show, 
      .navbar-light .navbar-nav .show > .nav-link{
         color: #ee3131;
      }
      .navbar-light {
         .navbar-nav {
            .nav-link{
               &:focus, &:hover{
                  color: #ee3131;
               }
            }
         }
      }
      .navbar {
         .nav-item {
            margin-right: 20px;
            .dropdown-menu{
               top: 76px;
            }
            .nav-link{
               color: #101010;
               &.active{
                  &:after{
                     background-color: #ee3131;
                     bottom: -20px;
                  }
               }
            }
         }
         .cart-link {
            form {
               padding: 0 5px;
               button{
                  color: #101010;
                 }
            }
            a{
               color: #101010;
               sup{
                  background: #101010;
                  color:#fff;
               }
              }
         }
      }
   }
   .header-cart{
      position: relative;
      z-index: 2;
      padding-left: 15px;
      &::before{
         position: absolute;
         left: 0;
         top: 0;
         width: 1px;
         height: 100%;
         content: '';
         background: #ddd;
      }
   }
}

/* Header 4
==================================*/


.ts-top-bar-standard {
   background: #ee3131;
   
}

.ts-header-transparent{
   
   position:  relative;
   .ts-logo-area {
      position:  absolute;
      z-index:  2;
      width: 100%;
      border-bottom: 1PX solid rgba(149, 153, 155, 0.25);
  
   }
   
   .navbar {
      .nav-item {
         margin-right: 20px;
         .nav-link{
            padding: 32px 10px;
            &:after{
               bottom: -8px;
               background-color: #ee3131;
            }
            &.active{
               &:after{
                  bottom: -8px;
                  background-color: #ee3131;
               }
            }
         }
      }
   }

   .ts-navbar{
      margin-right: 0px;
   }
   
   .navbar-nav {
      .nav-item {
         .dropdown-menu{
            top: 106%;
         }
      }
   }
   
   .navbar-light .navbar-nav .active > .nav-link, 
   .navbar-light .navbar-nav .nav-link.active, 
   .navbar-light .navbar-nav .nav-link.show, 
   .navbar-light .navbar-nav .show > .nav-link{
      color: #ee3131;
   }
   .navbar-light {
      .navbar-nav {
         .nav-link{
            &:focus, &:hover{
               color: #ee3131;
            }
         }
      }
   }
}