$dosis: 'Dosis',sans-serif;
$roboto: 'Roboto',sans-serif;

$bodyFontColor: #666666;
$topMColor: #101010;
$topBlueColor: #2f3967;
$RedColor: #d20023;
$RedColorLight: #ee3131;

$transition: all 1s ease-in;